.SideNav {
    height: 100%;
    background-color: #14213D;
    position: relative;
}

.SideNav-logo {
    height: 20vh;
    background: url(../../assets/HoldMyGear.png);
    background-position: center;
    background-size: cover;
}

.SideNav_menu {
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
}

.SideNav_menu li {
    list-style: none;
    margin-top: 1rem;
    color: #E5E5E5;
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
}

.SideNav_menu li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 0;
    left: 0;
    height: 2px;
    background-color: #FCA311;
    transition: all .3s ease;
}

.SideNav_menu a {
    text-decoration: none;
}

.SideNav_menu li:hover::after {
    width: 15%;
}

.SideNav_menu li:hover {
    color: #FCA311;
}


.SideNav_contact {
    height: 10vh;
    margin-top: 35vh;
    padding: 1rem;
    color: #E5E5E5;
}

.SideNav_contact p {
    font-size: .8rem;
}

.SideNav_contact .fab {
    color: rgb(247, 12, 12);
}

.SideNav_contact span { 
    text-decoration: underline;
    display: inline-block;
    padding-left: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.SideNav_contact span:hover {
    color: #FCA311;
}
